# Ignore compiled binary files
*.out
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Ignore build directories
/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cmake-build-debug/

# Ignore VS Code settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore debugging files
*.dSYM/

# Ignore pybind11 files
pybind11/

#Adding Cmake file here because of Unix / Windows differences
CMakeLists.txt